<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="CXvIYcerCMULbhyL_Ic2TSNvEws-CsBOZ1JL6LNR47E" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
{% if page.layout == 'tag' %}<meta name="robots" content="noindex, follow">{% endif %}
<script src="https://cdn.tailwindcss.com?plugins=typography"></script>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
	body { font-family: 'Inter', sans-serif; scroll-behavior: smooth; }
</style>
{% seo %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F7QYH5FFXD"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-F7QYH5FFXD');
</script>
